@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh; }

html {
  font-size: 62.5%; }

#id__header {
  background-image: linear-gradient(to top, rgba(139, 137, 137, 0.747), black);
  height: 50%;
  display: grid;
  grid-template-columns: auto; }

.headerNav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  list-style: none;
  gap: 20px; }

/* INDEX*/
.section__mhn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 50px;
  border: 2px solid black; }

.generoMenu {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: bold;
  gap: 50px;
  color: white; }
  .generoMenu a {
    text-decoration: none;
    font-size: 2.0rem;
    color: #080cf0;
    margin: 20px; }

.img__fondo {
  background-image: linear-gradient(to left, rgba(139, 137, 137, 0.747), black);
  padding: 30px; }

.fondo__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 137, 137, 0.747);
  height: 70px; }

.textoAni {
  animation-duration: 1s;
  animation-name: parpadeo;
  animation-iteration-count: infinite;
  font-size: 2.0rem; }

.articleColor {
  border: 2px dotted #00ccff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.0rem; }

@keyframes parpadeo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.aside__fondo {
  background-image: linear-gradient(to right, rgba(139, 137, 137, 0.747), black);
  text-align: end;
  height: 300px; }

.box {
  background-color: rgba(17, 0, 255, 0.747);
  width: 300px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 10px;
  float: left;
  color: white;
  font-size: 1.5rem; }

.box__aside {
  background-color: black;
  display: flex;
  justify-content: end;
  float: right;
  margin-top: 50px;
  margin-right: 20px; }

<<<<<<< HEAD
#footer__fondo {
  display: flex;
  background-color: rgba(240, 183, 76, 0.788);
  font-size: 1.7rem;
  margin-top: auto;
  justify-content: space-between; }

.redesSociales {
  padding-left: 10px; }
  .redesSociales a {
    text-decoration: none;
    color: black; }

.centroAyuda a {
  text-decoration: none;
  color: black; }

.centroAtencion {
  padding-right: 10px; }

/*MOBILE*/
@media screen and (max-width: 800px) {
  .imagenRopa {
    grid-template-columns: repeat(1, 1fr); } }

=======
>>>>>>> sass
/* CONTACTO */
.mainPage, .registrarseMain {
  background-color: black;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.contacto, .registro {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  height: 100%; }

/*SUCURSALES*/
.locales__mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 3.0rem;
  text-decoration: dashed;
  background-color: black; }

.divMapa {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 50px; }

.sucursal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 1.5rem; }

/* GALERIA*/
.generoRopas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 3.0rem;
  text-decoration: dashed; }

.galeria__grid {
  background-color: black;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  object-fit: cover;
  color: white;
  padding: 20px;
  row-gap: 40px; }

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.0rem;
  transition: transform 0.5s; }
  .img:hover {
    transform: scale(1.1); }
<<<<<<< HEAD

/* MOBILE */
@media screen and (max-width: 800px) {
  .galeria__grid {
    grid-template-columns: repeat(2, 1fr); }
  #footer__fondo {
    font-size: 1.5rem; } }
=======
>>>>>>> sass

/*REGISTRARSE*/
.flexRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#footer__fondo {
  display: flex;
  background-color: rgba(240, 183, 76, 0.788);
  font-size: 1.7rem;
  margin-top: auto;
  justify-content: space-between; }

.redesSociales {
  padding-left: 10px; }
  .redesSociales a {
    text-decoration: none;
    color: black; }

.centroAyuda a {
  text-decoration: none;
  color: black; }

.centroAtencion {
  padding-right: 10px; }
